BOT_TOKEN=8434428063:AAHK-MOe1oNdtX5WWfu_9I85b3rZ0vsXtY0
SHEET_ID=14XDq_OIfh3aRayJfTZ4ljv0IKb5wi_unKbM4R_k7T1k
ADMIN_IDS=2115245228

GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json

GOOGLE_MAPS_API_KEY=AIzaSyD_sTSM45gBjAJ0ckCnIQ0JuUyNeqh9FTg
NAVER_CLIENT_ID=...
NAVER_CLIENT_SECRET=...